{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>this is the home page</h1>
                <p>This is some text again</p>
                <img src="/static/images/front.webp" height="1330" width="2364">
                <img src="/static/images/coffee_bar.jpg" height="1330" width="2364">
                <img src="/static/images/enjoy_coffee.jpg" height="1330" width="2364">
                <img src="/static/images/interior.webp" height="1330" width="2364">
            </div>
        </div>
    </div>
{{end}}